export const MQTT_SERVER = 'mqtt://localhost:1883/';
export const MQTT_SERVER_WS = 'ws://localhost:9001/';
export const MQTT_PREFIX = '/inshare';

export const WEBAPI_PROTOCOL = 'http';
export const WEBAPI_DOMAIN = 'localhost';
export const WEBAPI_PORT = 3000;
export const WEBAPI_LOGGER_LEVEL = 'develop'

export const MONGODB_URL = 'mongodb://127.0.0.1:27017/insharets'
